.home {
    border: 2px solid green;
    color: green;
    margin: 10px;
}

.login {
    border: 2px solid red;
    color: red;
    margin: 10px;
}

.profile {
    border: 2px solid blue;
    color: blue;
    margin: 10px;
}